.colors{ --darkgray: #3a4e5c;
--midgray: #7c8c94;
--lightgray: #848c94;
--darkgreen: #1c3c2c;
--midgreen: #3c490e;
--lightgreen: #829e1e;
--green: #cae766;
--blue: #041c33;
--lightblue: #2ec8f3; 
--pink: #f32ec8;
--teal: #2ef3bb;
--purple: #592ef3;
--red: #f32e65;
--darkblue: #064285;
--midblue: #096dda;
}